table.dataTable tbody tr.selected {
	color: white !important;
	background-color: #3F65D4 !important;
}
table.dataTable tbody tr.selected a {
	text-decoration: none;
	color: white !important;
}
table.dataTable tbody tr.selected a:hover {
	text-decoration: none;
	font-weight:bold;
	color: white !important;
}
a {
	text-decoration: none !important;
}
/* myPieChart */
#no-data{
	display: none;
	position: absolute;
	padding: 50px 0;
	text-align: center;
	font-size: 3rem;
	top: 15%;
	width: 100%;
  }
